@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{/*crtl-F busqueda en el codigo */
    --color-primario:#000000;
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --color-hover: #272727;

    --fuente-monserrat: 'Montserrat', sana serif;
    --fuente-krona:'Krona One', sana serif;;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);

}

.header{
    padding: 2% 0% 0% 9%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-monserrat);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 3% 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px; /* Añade espacio entre los elementos */
}

.presentacion__contenido__titulo{
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
}


.titulo-destaque {
    color: var(--color-terciario) ;
}

.presentacion__contenido__parrafo{
    font-size: 1.2rem;
    font-family: var(--fuente-monserrat);
    text-align: start;
    width: 100%; /* Aumenta el ancho del contenedor de texto si es posible */
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Añade espacio entre los elementos */
}

.presentacion__enlaces__subtitulos{
    font-size: 1.2rem;
    font-family: var(--fuente-krona); 
    font-weight: 400;
    font-style: normal;
}

.presentacion__enlaces__link{
    background-color: var(--color-primario);/*no es necesario porque toda la pantalla esta negra*/
    border: 2px solid var(--color-terciario); /* Cambia "celeste" por el color que desees */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.45rem;
    font-weight: 600;
    padding: 16px 30px;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-monserrat);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover); /* Cambia el color de fondo cuando se pasa el cursor 272727 o #1bb3e9*/
    padding: 3.7%;/*Desplaza cuando el curso*/
}

.arreglo_foto {
    width: 38%;
    padding: 0% 0% 0% 10%;
    border-radius: 16px;
}

.footer{
    background-color: var(--color-terciario);
    padding: 14px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.3rem;
    font-weight: 400px;
}

@media (max-width: 1200px ) {

    .header{
        padding: 5% 0% 1% 0%;
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
    }
    .arreglo_foto{
        padding: 0% 0% 0% 4%
    }
    .presentacion{
        padding: 5%;
    }
    .presentacion__contenido{
        width: auto;
    }
}
